{{ 'home-section.css' | asset_url | stylesheet_tag }}

<section class="slider-home">
  <div class="collection-1">
    <div class="collection-column">
      <p class="top-text">Collection 1</p>
      <h1 class="home-title">As Above So Below</h1>
      <p class="home-subtitle">Find your star sign within Jessica’s <br>collaboration collection with, artist,
        <br>Lousie
        Androlia.
      </p>
      <button class="home-button">View collection</button>
    </div>
    <div class="slider-img">
      <img src="{{ section.settings.home_image }}" alt="">
    </div>
  </div>
</section>

{% schema %}
  {
    "name": "image",
    "settings": [
    {
      "type": "image_picker",
      "id": "home_image",
      "label": "Home image"
    }
  ]
  }
{% endschema %}