{{ 'home-section.css' | asset_url | stylesheet_tag }}

<script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>

<section class="slider-home">
  <div class="collection-1">


<div class="slider-wrapper">
    <div class="swiper slider-text">
      <div class="swiper-wrapper">

  <div class="swiper-slide">
    <div class="collection-column">
      <p class="top-text">Collection 1</p>
      <h1 class="home-title">As Above So Below</h1>
      <p class="home-subtitle">Find your star sign within Jessica’s collaboration collection with, artist, Lousie Androlia.</p>
      <button class="home-button">View collection</button>
    </div>
  </div>


  <div class="swiper-slide">
    <div class="collection-column">
      <p class="top-text">Collection 1</p>
      <h1 class="home-title">As Above So Shmelow</h1>
      <p class="home-subtitle">Find your star sign within Jessica’s de Lotz collaboration collection with, artist, Lousie Androlia.</p>
      <button class="home-button">View collection</button>
    </div>
  </div>
</div>

  </div>
</div>


<div class="swiper slider-image">
  <div class="swiper-wrapper">

    <div class="swiper-slide">
    <div class="slider-img">
      <img src="{{ section.settings.image_home1 | image_url }}" alt="">
    </div>
  </div>

  <div class="swiper-slide">
    <div class="slider-img">
      <img src="{{ section.settings.image_home2 | image_url }}" alt="">
    </div>
  </div>

</div>
</div>
</div>

</section>

{% schema %}
{
  "name": "home-section",
  "class": "home-section",
  "settings": [
  {
    "type": "image_picker",
    "id": "image_home1",
    "label": "Image"
  },
  {
    "type": "image_picker",
    "id": "image_home2",
    "label": "Image"
  }
  ]
}
{% endschema %}