{{ 'home-section.scss' | asset_url | stylesheet_tag }}

<section class="slider-home">
  <div class="collection-1">
    <div class="collection-column">
      <p class="top-text">Collection 1</p>
      <h1 class="home-title">As Above So Below</h1>
      <p class="home-subtitle">Find your star sign within Jessica’s <br>collaboration collection with, artist,
        <br>Lousie
        Androlia.
      </p>
      <button class="home-button">View collection</button>
    </div>
    <div class="slider-img">
      <img src="/image/slider-img.jpg" width="1014px" alt="">
    </div>
  </div>
</section>