

<div class="image-section">
  <div class="section-left">
    <img src="{{ 'image1.jpg' | asset_img_url: 'master' }}" alt="">
  </div>
  <div class="section-right">
    <img src="{{ 'image2.jpg' | asset_img_url: 'master' }}" alt="">
  </div>
</div>