{{ 'image-section.css' | asset_url | stylesheet_tag }}

<div class="image-section">
  <div class="section-left">
    <img src="{{ 'image1.jpg' | asset_img_url: 'master' }}" alt="">
    <div class="text-block">
      <p>Bespoke Bridal</p>
    </div>
  </div>
  <div class="section-right">
    <img src="{{ 'image2.jpg' | asset_img_url: 'master' }}" alt="">
    <div class="text-block">
      <p>Jewellery for life</p>
    </div>
  </div>
</div>