{{ 'title-for-the-section.css' | asset_url | stylesheet_tag }}

<section class="title-for-section">
  <h1 class="title">Title for the section</h1>
  <div> 
    <img src="{{ 'title-rings.jpg' | asset_img_url: 'master' }}" alt="">
    <img src="{{ 'title-Necklaces.jpg' | asset_img_url: 'master' }}" alt="">
    <img src="{{ 'title-Charms.jpg' | asset_img_url: 'master' }}" alt="">
  </div>
</section>