{{ 'title-for-the-section.css' | asset_url | stylesheet_tag }}

<section class="title-for-section">
  <h1 class="title">Title for the section</h1>
  <div class="products-sections">
    <div class="product-block1">
    <img class="product-sections-img" src="{{ 'title-rings.jpg' | asset_img_url: 'master' }}" alt="">
    <p class="product-section-text product-section-text1">Rings</p>
  </div>
  <div class="product-block2">
    <img class="product-sections-img" src="{{ 'title-Necklaces.jpg' | asset_img_url: 'master' }}" alt="">
    <p class="product-section-text product-section-text2">Necklaces</p>
  </div>
  <div class="product-block3">
    <img class="product-sections-img" src="{{ 'title-Charms.jpg' | asset_img_url: 'master' }}" alt="">
    <p class="product-section-text product-section-text3">Charms</p>
  </div>
  </div>
</section>