

.section-bord-top {
  display: flex;
  background: #F7F6F2;
}

.block-top-title {
  font-family: 'Playfair Display', serif;
  font-weight: normal;
  font-size: 53px;
  line-height: 117.4%;
  text-align: right;
  color: #262B25;
}

.block-top-text {
  width: 340px;
  font-family: 'Raleway', sans-serif;
  font-weight: normal;
  font-size: 15px;
  line-height: 24px;
  letter-spacing: 0.002em;
  color: #656863;
}

.block-top-link {
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  font-size: 14px;
  line-height: 12px;
  text-align: right;
  letter-spacing: 1.6px;
  color: #272F1A;
}