

.section-bord-top {

}

.block-top-title {
  font-family: Playfair Display;
  font-weight: normal;
  font-size: 53px;
  line-height: 117.4%;
  text-align: right;
  color: #262B25;
}

.block-top-text {
  font-weight: normal;
  font-size: 15px;
  line-height: 24px;
  text-align: right;
  letter-spacing: 0.002em;
  color: #656863;
}