

.section-bord-top {
  display: flex;
  justify-content: center;
  padding-top: 120px;
  background: #F7F6F2;
}

.block-top-title {
  font-family: 'Playfair Display', serif;
  font-weight: normal;
  font-size: 53px;
  line-height: 117.4%;
  text-align: right;
  color: #262B25;
  margin-left: -170px;
    margin-bottom: 30px;
}

.block-top-text {
  width: 340px;
  font-family: 'Raleway', sans-serif;
  font-weight: normal;
  font-size: 15px;
  line-height: 24px;
  letter-spacing: 0.002em;
  color: #656863;
  text-align: right; 
}

.text {
  margin-left: auto;
  padding-left: 10px;
}

.block-top-link {
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  font-size: 14px;
  line-height: 12px;
  letter-spacing: 1.6px;
  color: #272F1A;
  text-decoration: underline;
  margin-left: 212px;
}