.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  padding-top: 48px;
  background: #262b25;
}

.footer .footer__menu-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.footer .footer__menu-column .menu-column__link {
  text-transform: uppercase;
  font-weight: 600;
  color: #fff;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 2px;
  text-decoration: none;
  margin-bottom: 20px;
}

.footer .footer__contact-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.footer .footer__contact-info .footer-info-title {
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 2px;
  text-transform: uppercase;
  opacity: 0.3;
  color: #fff;
}

.footer .footer__contact-info .footer-info-title--bottom {
  padding-top: 15px;
}

.footer .footer__contact-info .foooter-adres {
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  letter-spacing: 0.002em;
  text-decoration: underline;
  color: #fff;
}

.footer .footer__contact-info .footer-mail {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  color: #fff;
}

.footer .footer__contact-info .footer-call {
  font-family: "Raleway", sans-serif;
  font-size: 15px;
  line-height: 25px;
  color: #fff;
}

.footer .footer-message {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.footer .footer-message .footer-info-title {
  margin-bottom: 15px;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 2px;
  text-transform: uppercase;
  opacity: 0.3;
  color: #fff;
}

.footer .footer-message input {
  padding-left: 20px;
  width: 200px;
  height: 46px;
  font-weight: bold;
  font-size: 13px;
  line-height: 24px;
  letter-spacing: 1.6px;
  color: #262b25;
}

.footer .footer-message .footer-mail-img {
  position: absolute;
  top: 50px;
  left: 185px;
}

.footer .footer-message .footer-copyright {
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.2px;
  color: rgba(255, 255, 255, 0.3);
}

.footer .footer-message .footer-message__messangers {
  padding-top: 30px;
}

.footer .footer-message .footer-copyright {
  padding-top: 20px;
}
