@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&family=Raleway:wght@400;600;700&display=swap");

body {
  font-family: "Raleway", sans-serif;
  margin: 0;
  h1 {
    margin: 0;
  }
  p {
    margin: 0;
  }
}

.header {
  display: block;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  .header-top {
    display: flex;
    padding-top: 22px;
    justify-content: space-between;
    .header-messengers {
      padding-top: 18px;
      .header-messengers__image {
        margin-right: 30px;
      }
    }
    .header-menu {
      margin-top: 18px;
      .header-menu__image {
        margin-left: 44px;
      }
    }
  }
  .header-bottom {
    display: flex;
    border-top: 1px solid #e4e4e4;
    margin-top: 23px;
    padding-top: 23px;
    justify-content: center;
    .header-bottom__link {
      text-transform: uppercase;
      font-weight: 700;
      font-size: 14px;
      color: #171618;
      letter-spacing: 2px;
      line-height: 16.44px;
      text-decoration: none;
      margin-right: 102px;
    }
  }
}

.slider-home {
  .collection-1 {
    position: relative;
    display: flex;
    border-top: 1px solid #e4e4e4;
    .collection-column {
      position: absolute;
      margin-left: 15%;
      .top-text {
        padding-top: 100px;
      }
      .home-title {
        padding-top: 10px;
        font-size: 64px;
        line-height: 85px;
        font-weight: normal;
        font-family: "Playfair Display", serif;
        color: #262b25;
      }
      .home-subtitle {
        font-size: 17px;
        line-height: 26px;
        letter-spacing: 0.002em;
        padding-top: 15px;
        color: #656863;
      }
      .home-button {
        font-family: "Raleway", sans-serif;
        font-weight: 600;
        font-size: 12px;
        line-height: 24px;
        letter-spacing: 1.6px;
        width: 183px;
        height: 42px;
        color: #fff;
        background: #272f1a;
        margin-top: 30px;
        border: none;
      }
    }
    .slider-img {
      margin-left: auto;
      margin-right: 0;
    }
  }
}

.footer {
  display: flex;
  justify-content: space-evenly;
  padding-top: 48px;
  background: #262b25;
  .footer__menu-column {
    display: flex;
    flex-direction: column;
    .menu-column__link {
      text-transform: uppercase;
      font-weight: 600;
      color: #fff;
      font-size: 14px;
      line-height: 16px;
      letter-spacing: 2px;
      text-decoration: none;
      margin-bottom: 20px;
    }
  }
  .footer__contact-info {
    display: flex;
    flex-direction: column;
    .footer-info-title {
      margin-bottom: 10px;
      font-size: 14px;
      line-height: 16px;
      letter-spacing: 2px;
      text-transform: uppercase;
      opacity: 0.3;
      color: #fff;
    }
    .footer-info-title--bottom {
      padding-top: 15px;
    }
    .foooter-adres {
      font-weight: 400;
      font-size: 15px;
      line-height: 25px;
      letter-spacing: 0.002em;
      text-decoration: underline;
      color: #fff;
    }
    .footer-mail {
      font-family: "Raleway", sans-serif;
      font-weight: 400;
      font-size: 15px;
      line-height: 25px;
      color: #fff;
    }
    .footer-call {
      font-family: "Raleway", sans-serif;
      font-size: 15px;
      line-height: 25px;
      color: #fff;
    }
  }
  .footer-message {
    position: relative;
    display: flex;
    flex-direction: column;
    .footer-info-title {
      margin-bottom: 15px;
      font-size: 14px;
      line-height: 16px;
      letter-spacing: 2px;
      text-transform: uppercase;
      opacity: 0.3;
      color: #fff;
    }
    input {
      padding-left: 20px;
      width: 200px;
      height: 46px;
      font-weight: bold;
      font-size: 13px;
      line-height: 24px;
      letter-spacing: 1.6px;
      color: #262b25;
    }
    .footer-mail-img {
      position: absolute;
      top: 50px;
      left: 185px;
    }
    .footer-copyright {
      font-size: 14px;
      line-height: 16px;
      letter-spacing: 0.2px;
      color: rgba(255, 255, 255, 0.3);
    }
    .footer-message__messangers {
      padding-top: 30px;
    }
    .footer-copyright {
      padding-top: 20px;
    }
  }
}
