@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&family=Raleway:wght@400;600;700&display=swap");
body {
  font-family: "Raleway", sans-serif;
  margin: 0;
}

body h1 {
  margin: 0;
}

body p {
  margin: 0;
}

.header {
  display: block;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}

.header .header-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 22px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header .header-top .header-messengers {
  padding-top: 18px;
}

.header .header-top .header-messengers .header-messengers__image {
  margin-right: 30px;
}

.header .header-top .header-menu {
  margin-top: 18px;
}

.header .header-top .header-menu .header-menu__image {
  margin-left: 44px;
}

.header .header-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-top: 1px solid #e4e4e4;
  margin-top: 23px;
  padding-top: 23px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header .header-bottom .header-bottom__link {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  color: #171618;
  letter-spacing: 2px;
  line-height: 16.44px;
  text-decoration: none;
  margin-right: 102px;
}

.slider-home .collection-1 {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-top: 1px solid #e4e4e4;
}

.slider-home .collection-1 .collection-column {
  position: absolute;
  margin-left: 15%;
}

.slider-home .collection-1 .collection-column .top-text {
  padding-top: 100px;
}

.slider-home .collection-1 .collection-column .home-title {
  padding-top: 10px;
  font-size: 64px;
  line-height: 85px;
  font-weight: normal;
  font-family: "Playfair Display", serif;
  color: #262b25;
}

.slider-home .collection-1 .collection-column .home-subtitle {
  font-size: 17px;
  line-height: 26px;
  letter-spacing: 0.002em;
  padding-top: 15px;
  color: #656863;
}

.slider-home .collection-1 .collection-column .home-button {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-size: 12px;
  line-height: 24px;
  letter-spacing: 1.6px;
  width: 183px;
  height: 42px;
  color: #fff;
  background: #272f1a;
  margin-top: 30px;
  border: none;
}

.slider-home .collection-1 .slider-img {
  margin-left: auto;
  margin-right: 0;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding-top: 48px;
  background: #262b25;
}

.footer .footer__menu-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer .footer__menu-column .menu-column__link {
  text-transform: uppercase;
  font-weight: 600;
  color: #fff;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 2px;
  text-decoration: none;
  margin-bottom: 20px;
}

.footer .footer__contact-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer .footer__contact-info .footer-info-title {
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 2px;
  text-transform: uppercase;
  opacity: 0.3;
  color: #fff;
}

.footer .footer__contact-info .footer-info-title--bottom {
  padding-top: 15px;
}

.footer .footer__contact-info .foooter-adres {
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  letter-spacing: 0.002em;
  text-decoration: underline;
  color: #fff;
}

.footer .footer__contact-info .footer-mail {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  color: #fff;
}

.footer .footer__contact-info .footer-call {
  font-family: "Raleway", sans-serif;
  font-size: 15px;
  line-height: 25px;
  color: #fff;
}

.footer .footer-message {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer .footer-message .footer-info-title {
  margin-bottom: 15px;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 2px;
  text-transform: uppercase;
  opacity: 0.3;
  color: #fff;
}

.footer .footer-message input {
  padding-left: 20px;
  width: 200px;
  height: 46px;
  font-weight: bold;
  font-size: 13px;
  line-height: 24px;
  letter-spacing: 1.6px;
  color: #262b25;
}

.footer .footer-message .footer-mail-img {
  position: absolute;
  top: 50px;
  left: 185px;
}

.footer .footer-message .footer-copyright {
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.2px;
  color: rgba(255, 255, 255, 0.3);
}

.footer .footer-message .footer-message__messangers {
  padding-top: 30px;
}

.footer .footer-message .footer-copyright {
  padding-top: 20px;
}
/*# sourceMappingURL=home-section.css.map */