.image-section {
  display: flex;
  justify-content: center;
  padding-top: 90px;
}

.text-block {
  position: absolute;
  background-color: #fff;
  margin-top: -21px;
}

.text-left {
  position: absolute;
  width: 295px;
  height: 67px;
  background-color: #fff;
}

.section-right {
  margin-left: 62px;
}
