.image-section {
  display: flex;
  justify-content: center;
  padding-top: 90px;
}

.text-block-left {
  width: 295px;
  height: 67px;
  background-color: #fff;
}

.text-block-right {
  width: 570px;
  height: 67px;
  background-color: #fff;
}

.section-right {
  margin-left: 62px;
}
