.image-section {
  display: flex;
  justify-content: center;
  padding-top: 90px;
}

.text-block {
  position: absolute;
  background-color: #fff;
  margin-top: -21px;
}

.text-left {
  position: absolute;
  margin-top: -70px;
  padding-top: 21px;
  width: 295px;
  height: 67px;
  background-color: #fff;
  font-family: Playfair Display;
  font-size: 34px;
  line-height: 45px;
  letter-spacing: 0.6px;
  color: #262b25;
}

.text-right {
  position: absolute;
  margin-top: -70px;
  padding-top: 21px;
  width: 570px;
  height: 67px;
  background-color: #fff;
  font-family: Playfair Display;
  font-size: 34px;
  line-height: 45px;
  letter-spacing: 0.6px;
  color: #262b25;
}

.section-right {
  margin-left: 62px;
}
