.title-for-section {
  background: #f7f6f2;
  padding-top: 100px;
  padding-bottom: 120px;
}

.title {
  font-family: Playfair Display;
  font-weight: normal;
  font-size: 46px;
  line-height: 61px;
  text-align: center;
  color: #262b25;
}

.products-sections {
  display: flex;
  justify-content: center;
}

.product-sections-img {
  margin-left: 30px;
}

.product-section-text {
  margin-left: 30px;
  font-family: Playfair Display;
  font-size: 28px;
  line-height: 37px;
  letter-spacing: 0.6px;
  color: #262b25;
  background: #f7f6f2;
  height: 53px;
}

.product-section-text1 {
}

.product-section-text2 {
}

.product-section-text3 {
}
