.title-for-section {
  background: #f7f6f2;
}

.title {
  font-family: Playfair Display;
  font-weight: normal;
  font-size: 46px;
  line-height: 61px;
  text-align: center;
  color: #262b25;
}
